html body #container-profile{
    background-image: linear-gradient(#0A0A0A, #3C3939 );
    position: absolute;
    width: 100%;
    height: 100%; 
    color: #FFFFFF;
}

.gallery{
    border: 2px red solid;
    position: absolute;
    height: 90%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: 25vh 25vh 50vh;
    resize: horizontal;
}

.gallery .link-box{
    border: 2px solid red;
}

.gallery .img{
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    width: 100%;
    height: 100%;
}