header{
    position: static;
    height: 5%;
    border: dotted black 3px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
header .logo{
    display: flex;
    align-items: center;
}

header .logo svg{
    filter: drop-shadow( 3px 3px 3px #000000);
    margin-right: 5px;
}

header .logo h1{
    font-size: 24px;
    font-weight: bold;
    filter: drop-shadow( 3px 3px 3px #000000);
}

header .social-media svg{
    margin-right: 10px;
    filter: drop-shadow( 3px 3px 3px #000000);
}