    #loading .box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16em;
    height: 16em;
  }
  
  @keyframes circle{
    0%{
      width:  1em;
      height: 1em;
      background-color: rgba(156, 39, 176, .2);
    }
    25%{
      width:  2em;
      height: 2em;
       background-color: rgba(156, 39, 176, .4);
    }
    50%{
      width:  4em;
      height: 4em;
       background-color: rgba(156, 39, 176, .6);
    }
    75%{
      width:  6em;
      height: 6em;
       background-color: rgba(156, 39, 176, .8);
    }
    100%{
      width:  8em;
      height: 8em;
      background-color: rgba(156, 39, 176, 1);
  
    }
  }
  
   #loading .box .circle1{
    background-color: rgb(156, 39, 176);
    width: 8em;
    height: 8em;
    border-radius: 50%;
    animation-name: circle;
    animation-duration: 400ms;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  
  
  #loading .box .circle2{
    background-color: rgb(156, 39, 176);
    width: 8em;
    height: 8em;
    border-radius: 50%;
    animation-name: circle;
    animation-duration: 400ms;
    animation-delay: 400ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  
  #loading .box .circle3{
    background-color: rgb(156, 39, 176);
    width: 8em;
    height: 8em;
    border-radius: 50%;
    animation-name: circle;
    animation-duration: 400ms;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  
  