footer{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 5%;
    border: dotted 3px purple;
    padding: 20px;
    position: static;
    bottom:0;
    width: 100%;
    filter: drop-shadow( 3px 3px 3px #000000);
}