.dialog-upload li{
    width: 100%;
    padding: 2px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden;

}

.dialog-upload li .left{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.dialog-upload li .left .text{
    text-align: left;
    display: flex; 
    flex-direction: column; 
    align-items: flex-start;
    justify-content: flex-start;
}

.dialog-upload li .left .text p{
    padding: 0;
}

.dialog-upload li .left img{
    margin-right: 5px;
    width: 40px;
    height: 40px;
}

@media only screen and (max-width: 600px){
    .dialog-upload li{
        display: flex;
        max-width: 250px;
    }
}