.container-signup{
    position: absolute;
    width: 100%;
    height: 100%; 
    color: #FFFFFF;
}

.container-signup section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90%;
}

.container-signup section .bottom-div{
    padding: 40px;
    width: 500px;
    background-color: rgb(255,255,255,0.7);
    border-radius: 10px;
}

.container-signup section .bottom-div form{
    margin-top: 80px;
    display:flex;
    flex-direction: column;
}

.container-signup section .bottom-div form div svg{
    margin-right: 5px;
    margin-top: 5px;
}

.container-signup section .bottom-div form .inputs{
    margin-top: 50px;
    display: flex;
    font-weight: 100%;
    justify-content: space-between;
}

.container-signup section .bottom-div form .start{
    height: 40px;
    margin-top: 40px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-signup section .bottom-div form .start button:disabled{
    color: white;
    background-color: rgb(202, 201, 201);
    box-shadow: black 3px 3px 10px;
}

@media only screen and (max-width: 600px){

    .container-signup{
        width: 100%;
        height: 100%; 
        color: #FFFFFF;
        overflow-x: hidden;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .container-signup section{
        height: 700px;
        padding: 20px !important;
    }
    .container-signup section .bottom-div{
        all: unset;
        display: inline-block;
        background-color: rgb(255,255,255,0.7);
        border-radius: 10px;
        width: 100%;
        max-width: 365px;
        min-width: 240px;    
        padding: 40px 8px 40px 8px;
    }

    .container-signup section .bottom-div form{
        margin-top: 100px;
        display:flex;
        flex-direction: column;
    }
}
