.message-box1{
    font-size: 12px;
    margin-top: 10px;
    box-shadow: black 3px 3px 10px;
    background-image: linear-gradient(to right, #4D0025, #A520B0 );
    border-radius: 10px;
    z-index: 2;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: teal;
}

.message-box svg{
    margin-top: 0px !important;
    margin-right: 0px !important;
}

.double-row{
    width: 100%;
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: space-between;
}
.single-row{
    padding: 5px;
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.message{
    width: 100%;
    display: flex;
    align-items: center;
}