.modal-container {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
    position:fixed;
    z-index: 999;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-container .modal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80%;
    width: 80%;
}

.modal-container .modal .menu svg{
    transition: all 300ms !important;
}

.modal-container .modal .menu svg:hover{
    color: #9C27B0 !important;
}

.modal-container .modal .close-button{
    padding: 5px;
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.modal-container .modal .close-button svg:hover{
    transition: all 300ms;
}

.modal-container .modal .close-button svg:hover{
    background-color: #9C27B0;
}

.modal-container .modal section{
    padding: 20px 20px 0px 20px;
    background-color: #202020;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    filter: drop-shadow( 0 0 10px #000000);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-container .modal section img{
    box-shadow: black 0 0 5px;
    max-width: 100%;
    max-height: 70vh;
}

.modal-container .modal section .menu{
    display: flex;
    height: auto;
    width: 100%;
    padding: 20px;
    justify-content: space-between;
}

.modal-container .modal section .menu #picture-name-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 300ms;
    width: auto;
}

.modal-container .modal section .menu #picture-name-content #picture-name{
    transition: all 300ms;
    margin-right: 5px;
}

.modal-container .modal section .menu #picture-name-content #picture-name-editable{
    all: unset;
    padding: 2px;
    transition: all 300ms;
    background-color: none;
    width: auto !important;
}
.modal-container .modal section .menu #picture-name-content #picture-name-editable::placeholder{
    color: #363636;       
}

